@charset "utf-8";

@font-face {
    font-family: Charley;
    src: url("../fontes/charley/CHARLEY.otf");
}

@font-face {
    font-family: Vogue;
    src: url("../fontes/vogue/Vogue.ttf");
}

@font-face {
    font-family: Coolvetica;
    src: url("../fontes/coolvetica/coolvetica\ rg.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: var(--cor-5);
    letter-spacing: 1px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 17pt;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-flex;
    text-decoration: none;
    transition: background- 4s;
    float:inline-start;
}
#menu-h ul li a:hover {
    color: var(--cor-2);
    background-color: var(--cor-nav-hover);
    color: var(--cor-nav-hover-text);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}