@charset "utf-8";

@font-face {
    font-family: Charley;
    src: url("../fontes/charley/CHARLEY.otf");
}

@font-face {
    font-family: Vogue;
    src: url("../fontes/vogue/Vogue.ttf");
}

@font-face {
    font-family: Coolvetica;
    src: url("../fontes/coolvetica/coolvetica\ rg.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: white;
    letter-spacing: 1px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: black;
    padding: 20px;
    display: inline-flex;
    text-decoration: none;
    transition: background- 4s;
    float: inline-start;
}

#menu-h ul li a:hover {
    color: var(--cor-1);
}


:root {
    --cor-1: rgb(74, 74, 211);
    --cor-2: rgb(251, 176, 59);
    --cor-3: rgb(1, 176, 77);
    --cor-4: rgb(255, 182, 200);
    --cor-5: rgb(255, 255, 224);
    --cor-6: rgb(188, 74, 70);
    --cor-7: rgb(31, 34, 98);
    --fonte-titulo: "Charley", serif;
    --fonte-titulo2: "Vogue", serif;
    --fonte-titulo3: "Coolvetica", sans-serif;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 50pt;
    text-align: left;
}

h2 {
    color: black;
    text-align: left;
    font-family: var(--fonte-titulo3);
    font-size: 20pt;
}
h3 {
    color: black;
    text-align: left;
    font-family: var(--fonte-titulo2);
    font-size: 55pt;
    letter-spacing: 5px;
}

p {
    color: rgb(0, 0, 0);
    font-family: var(--fonte-titulo2);
    font-size: 14pt;
    text-align: left;
}

a {
    color: var(--cor-1);
}

body {
    background: var(--cor-4);
}

div>p,
span,
li,
td {
    font-size: 13.5pt;
    font-family: Arial;
}

div {
    background: white;
    display: block;
    margin-top: 2cm;
    margin-left: 0 auto;
    margin-bottom: 2cm;
}

div[size="A4"] {
    width: 21cm;
    height: 50cm;
}

div[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;

}

@media print {

    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}
