@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: Charley;
    src: url("../fontes/charley/CHARLEY.otf");
}

@font-face {
    font-family: Vogue;
    src: url("../fontes/vogue/Vogue.ttf");
}

@font-face {
    font-family: Coolvetica;
    src: url("../fontes/coolvetica/coolvetica\ rg.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --cor-1: rgb(74, 74, 211);
    --cor-2: rgb(251, 176, 59);
    --cor-3: rgb(1, 176, 77);
    --cor-4: rgb(255, 182, 200);
    --cor-5: rgb(255, 255, 224);
    --cor-6: rgb(188, 74, 70);
    --cor-7: rgb(31, 34, 98);
    --fonte-titulo: "Charley", serif;
    --fonte-titulo2: "Vogue", serif;
    --fonte-titulo3: "Coolvetica", sans-serif;

}



body {
    background-color: white;
}

header {
    background-color: #ffffff00;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 75pt;
    color: rgb(100, 146, 26);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul li a {
    color: rgb(100, 146, 26);
    padding: 20px;
    display: inline-flex;
    text-decoration: none;
    transition: background- 4s;
}

.nav-list ul li a:hover {
    color: var(--cor-2);
    background-color: #00000028;
    color: rgb(100, 146, 26);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(100, 146, 26);
    font-weight: 400;
}

.login-button button {
    padding: 0 auto;
    border: none;
    background-color: #0186a700;
    padding: 52.5px 200px 50px 10px;
    border-radius: 5px;
}

.login-button a {
    text-decoration: none;
    color: rgb(100, 146, 26);
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.imgJ {
    display: flex;
    align-self: center;
}

.imgE {
    display: flex;
    align-self: center;
}

.imgT {
    display: flex;
    align-self: center;
}

.imgA {
    display: flex;
    align-self: center;
}

.imgB {
    display: flex;
    align-self: center;
}

.imgZ {
    display: flex;
    align-self: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 100pt;
    text-align: center;
    padding-top: 0cm;
    padding-left: 0cm;
    padding-bottom: 0cm;
    padding-right: 0cm;
    color: rgb(0, 0, 0);
}

h2 {
    color: black;
    text-align: left;
    font-size: 35pt;
    padding: 20pt 300pt 20pt 300pt
}

h5 {
    font-size: 22pt;
    color: #fff;
    text-shadow: 0 0 5px #999;
}

p {
    color: rgb(95, 95, 95);
    font-size: 15pt;
    text-align: left;
    padding: 20pt 300pt 20pt 300pt;
}


a {
    color: var(--cor-1);
}