@charset "UTF-8";

:root{
    --cor-header: #EA522A;
    --cor-header-text: #BAE3E3;

    --cor-nav: #253540;
    --cor-nav-text: #F8FFF4;
    
    --cor-nav-hover: #d3e7f5;
    --cor-nav-hover-text: #686828;
}

#logo > img {
    height: 100px;
}
#titulo > h1 {
    text-shadow: 5px 5px 5px black;
}

header{
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: center;
    align-items: center;

    background-color: var(--cor-header);
    color: var(--cor-header-text);
    font-size: 32px;

    border-radius: 10% 10% 0 0;
    border-bottom: 2px solid gray;
}
nav{
    background-color: var(--cor-nav);
    border-radius: 0 0 10% 10%;
}
nav > a{
    display: inline-block;
    color: var(--cor-nav-text);
    text-decoration: none;
    margin-left: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
}
nav > a:hover{
    background-color: var(--cor-nav-hover);
    color: var(--cor-nav-hover-text);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;

}

#destaques{
    margin-top: 20px;
}

#destaques > img, #destaques > p {
    width: 350px;
    display: block;
    margin: auto;
}

#destaques > p {
    position: relative;
    background-color: var(--cor-nav);
    color: var(--cor-nav-text);
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    top: -40px;
}

main{
    display: grid;
    grid-template-columns: 1fr 150px;
}
#prop-master{
    height: 150px;
    background-image: url("../Imagens/propagandas/Patrocinador1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;

    animation: muda-propaganda 6s infinite alternate;
}

@keyframes muda-propaganda {
    0%{
        background-image: url("../Imagens/propagandas/Patrocinador1.png");
    }
    100%{
        background-image: url("../Imagens/propagandas/Patrocinador2.png");
    }
}

#noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 20px;
}

#noticias img{
    width: 100%;
}

#noticias img+p{
    background-color: var(--cor-nav);
    color: var(--cor-nav-text);
    padding: 10px;
    position: relative;
    top: -20px;
}
footer{
    background-color: var(--cor-nav);
    color: var(--cor-nav-text);
    height: 200px;
}
footer > p{
    font-size: 20px;
}

@media (max-width: 900px) {
    #noticias{
        grid-template-columns: 1fr 1fr;
    }
    
}


@media (max-width: 800px){
    header{
        font-size: 20px;
    }
    #logo > img {
        height: 50px;
    }
}

@media (max-width: 600px){
    #noticias{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px){
    #logo{
        display: none;
    }
    header{
        grid-template-columns: 1fr;
        font-size: 14px;
    }

    #destaques > img, #destaques > p {
        width: 100%;
    }
    #destaques > p{
        font-size: 14px;
    }

}





/* 
header{
    background-color: var(--cor-header);
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10% 10% 0 0;
}
#logo > img {
    height: 100px;
    margin: 10px 10px;
}
#titulo > h1{
    color: var(--cor-header-text);
}

nav{
    background-color: var(--cor-nav);
    border-radius: 0 0 10% 10%;
    border-top: 1px solid white;
}
nav > a{
    display: inline-block;
    color: var(--cor-nav-text);
    text-decoration: none;
    margin-right: 30px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
}
nav > a:hover{
    background-color: var(--cor-nav-hover);
    color: var(--cor-nav-hover-text);
    transform: rotate(-10deg);
    transition: all 0.5s ease-out;
}

main{
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 20px;
}

#propagandas{
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;

    animation: muda-propaganda 5s infinite alternate;


}
@keyframes muda-propaganda {
    0%{
        background-image: url('../Imagens/propagandas/Patrocinador1.png');
    }
    100%{
        background-image: url('../Imagens/propagandas/Patrocinador2.png');
    }
}

#destaque img{
    height: 300px;
    width: 500px;
    margin: auto;
    display: block;
}
#destaque p{
    margin: auto;
    width: 500px;
    background-color: var(--cor-nav);
    color: var(--cor-nav-text);
    padding: 10px 0px;
    position: relative;
    top: -30px;
    z-index: 1;
    
}
#noticias{
    margin: 10px 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#noticias img{
    width: 100%;
}
#noticias p{
    background-color: var(--cor-nav);
    color: var(--cor-nav-text);
    padding: 10px 0px;
    position: relative;
    top: -30px;
    z-index: 1;
    text-align: center;
} */
